body {
    background-image: url(./assets/field\ 2.jpg);
    /* background-color: #cccccc; */
    background-size: cover;
    background-position: center;
}

.selections {
    background-color: forestgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
    display: flex;
    justify-content: space-between;
}

#header1 {
    padding-left: 2vw;
}

#home {
    color: bisque;
    padding: 1vw;
}

#menu {
    color: bisque;
}

#header2 {
    padding-right: 2vw;
}

#search-label {
    padding: 1vw;
}

#wrapper1 {
    background-color: skyblue;
    height: 50vh;
}

#title {
    display: flex;
    justify-content: center;
}

#picture {
    display: flex;
    justify-content: center;
    /* margin: 50 vw;
    padding: 5vh, 5vw, 5vh, 5vw; */
    /* border: 2vh, 2vw, 2vh, 2vw; */
}


#wrapper2 {
    display: inline-flex;
}

ul {
    list-style-type: none;
}

ul > li {
    display: inline-flex;
}

#order {
    
}

fieldset {
    display: inline-block;
    background-color: yellow;
}

#copy {
    padding-left: 2vw;
}

#contact-email {
    padding-right: 2vw;
}